.Radio {

  // 左边是圆角,右边是方角
  .leftRadius {
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
  }

  // 右边是圆角,左边是方角
  .rightRadius {
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
  }
}

.mainTable{
  
}
