.card-item {
  margin: 5px 5px;
  text-align: center;
  line-height: 40px;
  :global {
    .ant-card-body {
      padding: 0;
    }
  }
  i {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: -18px;
    color: #fff;
  }
}

.choose {
  background: rgb(41,174,227);
  color: #fff;
}

