.Title{
  display: flex;
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
  color: #fff;
  height: 9rem;
  justify-content: space-between;
  align-items: center;
}

.Theader {
  display: flex;
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
  color: #fff;
  height: 9rem;
  background-color:#0945B3;

  justify-content: space-between;
  align-items: center;

  div {
    width: 25%;
  }
}

/*设置的子盒子高度大于父盒子，产生溢出效果*/
.child {
  height: auto;
}

.child li {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 300;
  font-size: 6rem;
  border-bottom: 1px solid #fff;
}

.other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  /* 必须 */
  background-size: 100% 100%;

  span {
    width: 25%;
    text-align: center;
    font-size: 6rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
  }
}