.Title {
    display: flex;
    font-weight: 400;
    font-size: 8rem;
    text-align: center;
    color: #fff;
    height: 9rem;
    justify-content: space-between;
    align-items: center;

    .num {
        width: 15%;
    }

    .status {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .manual {
            border: 1px solid #9DC3E6;
            background-color: #9DC3E6;
            font-weight: 400;
            font-size: 8rem;
            color: #fff;
            height: 13rem;
        }

        .auto {
            border: 1px solid #00B050;
            background-color: #00B050;
            font-weight: 400;
            font-size: 8rem;
            color: #fff;
            height: 13rem;
        }

        .breakdown {
            border: 1px solid #FF0000;
            background-color: #FF0000;
            font-weight: 400;
            font-size: 8rem;
            color: #fff;
            height: 13rem;
        }
    }
}